@font-face {
  font-family: "iconfont"; /* Project id 4619111 */
  src:
       url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kexuelei:before {
  content: "\e64c";
}

.icon-yishuleihuojiang:before {
  content: "\e604";
}

.icon-C1_kepulei:before {
  content: "\e677";
}

.icon-erjicaidan_lishileisishijianpinggubaogao:before {
  content: "\e659";
}

.icon-shekeleipingbi:before {
  content: "\e840";
}

.icon-hyzs:before {
  content: "\e67e";
}

.icon-shenghuolei:before {
  content: "\e687";
}

.icon-daishouhuo:before {
  content: "\e600";
}

.icon-daifahuo:before {
  content: "\e601";
}

.icon-daifukuan:before {
  content: "\e602";
}

.icon-31daipingjia:before {
  content: "\e603";
}

.icon-tuikuanshouhou:before {
  content: "\e61a";
}

